*{
    background-color: black;
    color: rgb(110, 194, 194);
    text-decoration: none;
}

.episodes-of-s1{
    display: flex;
    text-decoration: none;
}
.ep1{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    background-color: blue;
    border-radius: 13px;
    width: 80px;
    height: 25px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
}
.ep2{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    background-color: blue;
    border-radius: 13px;
    width: 80px;
    height: 25px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
}
.ep3{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    background-color: blue;
    border-radius: 13px;
    width: 80px;
    height: 25px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
}
.ep4{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    background-color: blue;
    border-radius: 13px;
    width: 80px;
    height: 25px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
}
.ep5{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    background-color: blue;
    border-radius: 13px;
    width: 80px;
    height: 25px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
}
.ep6{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    background-color: blue;
    border-radius: 13px;
    width: 80px;
    height: 25px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
}
.ep7{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    background-color: blue;
    border-radius: 13px;
    width: 80px;
    height: 25px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
}
.ep8{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    background-color: blue;
    border-radius: 13px;
    width: 80px;
    height: 25px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
}
.ep9{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    background-color: blue;
    border-radius: 13px;
    width: 80px;
    height: 25px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
}
.ep10{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    background-color: blue;
    border-radius: 13px;
    width: 80px;
    height: 25px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
}